# 5.1 Print

In [1]:
print('Ini kelas Algoritma')

Ini kelas Algoritma

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("I don't understand what are you saying")

I don't understand what are you saying

In [4]:
print ('I don't understand what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_3408/4272285998.py, line 1)

In [5]:
print ('He is such a "GENIUS"')

He is such a "GENIUS"

In [6]:
print ("He is such a "GENIUS")

SyntaxError: invalid syntax (Temp/ipykernel_3408/2485381186.py, line 1)

Latihan

In [7]:
nama_depan_14 = 'Ikuta'
nama_tengah_14 = ' '
nama_belakang_14 = 'Rira'
print(nama_depan_14 + nama_tengah_14 + nama_belakang_14)

Ikuta Rira

In [8]:
nama_depan = 'Ikuta '
nama_belakang = 'Rira'
print(nama_depan + nama_belakang)

Ikuta Rira

In [9]:
mahasiswa_14 = 42
uang_di_dompet_14 = 100000
print (mahasiswa_14)
print (uang_di_dompet_14)
total_uang = print (mahasiswa_14*uang_di_dompet_14)

42
100000
4200000

# 5.2 Input

In [10]:
nama_14=input ('Nama kamu siapa? ')
kegiatan_14=input ('Kamu lagi ngapain, ' + nama_14 + '? ')
print ('Semangat ' + kegiatan_14 + ', ya ' + nama_14 + '!')

Nama kamu siapa? ikuta
Kamu lagi ngapain, ikuta? tidur
Semangat tidur, ya ikuta!

# 5.3 Tipe Data pada Python

In [11]:
uang_di_dompet = input ("Duit mu ada berapa di dompet? ")
uang_di_bank = input ("Duit mu di bank sisa berapa? ")
print ("Total uang mu adalah Rp " + uang_di_dompet + uang_di_bank)

#bukan kayak gini yang kita pengen :(

Duit mu ada berapa di dompet? 1000
Duit mu di bank sisa berapa? 1000000
Total uang mu adalah Rp 10001000000

In [12]:
uang_di_dompet = input ("Duit mu ada berapa di dompet? ")
uang_di_bank = input ("Duit mu di bank sisa berapa? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print ("Total uang anda adalah Rp "+ str(total_uang))

Duit mu ada berapa di dompet? 1000
Duit mu di bank sisa berapa? 1000000
Total uang anda adalah Rp 1001000

In [13]:
#mengecek tipe data
type(uang_di_dompet)

str

In [14]:
#mengecek tipe data
type(uang_di_bank)

str

In [15]:
#mengecek tipe data
type(total_uang)

int

latihan

In [16]:
bilangan_satu_14 = input ('Masukkan bilangan pertama: ')
bilangan_kedua_14 = input ('Masukkan bilang kedua: ')
jumlah_14 = float(bilangan_satu_14)+float(bilangan_kedua_14)
print ('Jumlah kedua bilangan adalah ' + str(jumlah_14))

Masukkan bilangan pertama: 123
Masukkan bilang kedua: 42
Jumlah kedua bilangan adalah 165.0

# 5.4 Formatted String

mempermudah penulisan nilai variabel yang ingin diprint
1. menggunakan kurung kurawal setiap variabelnya
2. print (f' bla bla {x} bla bla {x}')

In [17]:
nama = 'Vladimir'
pekerjaan = 'guru'
institusi = 'SD Pertiwi'
print (nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi + '.')

Vladimir adalah seorang guru di SD Pertiwi.

In [18]:
#dengan formatted string
print (f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Vladimir adalah seorang guru di SD Pertiwi.

In [19]:
#dengan formatted string
print (f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Vladimir adalah seorang guru di SD Pertiwi.

# 5.5 Strings Index

1. perhitungan dimulai dari 0
2. urutan terakhir adalah -1. Kemudian selanjutnya -2 dan seterusnya
3. spasi dihitung juga

In [20]:
kelas = 'Kita Sedang ada di FX Sudirman'

In [21]:
print (kelas[0:3])

Kit

In [22]:
print (kelas[0:-1])

Kita Sedang ada di FX Sudirma

In [23]:
print (kelas[5:-1])

Sedang ada di FX Sudirma

In [24]:
print(kelas[2:-1:3])

tSa aiXur

In [25]:
print(kelas[:-3])

Kita Sedang ada di FX Sudir

In [26]:
print(kelas[1:])

ita Sedang ada di FX Sudirman

In [27]:
print(kelas[:])

Kita Sedang ada di FX Sudirman

# 5.6 Strings Methods

In [28]:
judul = 'Bali Surga Dunia'

In [29]:
print(len(judul))

16

In [30]:
judul.upper()

'BALI SURGA DUNIA'

In [31]:
judul.lower()

'bali surga dunia'

In [32]:
judul.find('Surga')

5

In [33]:
judul.find('bali')

-1

In [34]:
judul.replace('Bali','Indonesia')

'Indonesia Surga Dunia'

In [35]:
judul.replace('bali','Indonesia')

'Bali Surga Dunia'

In [36]:
print('Bali' in judul)

True

In [37]:
print('bali' in judul)

False

# 5.7 Operasi Matematika di Python

In [38]:
print(7+3)
print (7-3)
print (7*3)
print (7/3)
print (7//3)
print (7%3)
print (7**3)

10
4
21
2.3333333333333335
2
1
343

In [39]:
x=5
x+=1
print (x)

6

In [40]:
x-=2
print (x)

4

In [41]:
x*=3
print (x)

12

# 5.8 Operator Perbandingan di Python

In [42]:
x=7>3
print (x)

x=3<7
print(x)

x=7>=3
print(x)

x=3<=7
print (x)

x= 7==7
print(x)

x=3!=8
print (x)

True
True
True
True
True
True

In [43]:
x=3>7
print (x)

x=7<3
print(x)

x=3>=7
print(x)

x=7<=3
print (x)

x= 3==8
print(x)

x=3!=3
print (x)

False
False
False
False
False
False

# 5.9 Operator Logika di Python

1. and : keduanya harus benar semua
2. or : salah satu harus benar
3. not : kebalikan (jika x bernilai true maka not x adalah false)

In [44]:
buah_stroberi = 13
buah_apel = 15

In [45]:
print(buah_stroberi >8 and buah_apel <20)

True

In [46]:
print (buah_stroberi <8 or buah_apel <20)

True

In [47]:
print (buah_stroberi <8 or buah_apel >20)

False

In [48]:
print(not(buah_stroberi<8 or buah_apel>20))

True

# 5.10 Operator if di Python

akan berjalan selama variabel bernilainya True

In [49]:
nilai_14=float(input('Nilai anda adalah '))

if nilai_14 >=80:
    print ("Anda mendapatkan nilai A")
    print ("Bagus sekali, selamat!")
if nilai_14 < 80 and nilai_14 >= 70:
    print ('Anda mendapatkan nilai B')
    print ('Tingkatkan prestasimu!')
if nilai_14 >=60 and nilai_14 < 70 :
    print ('Anda mendapatkan nilai C')
    print ('Lain kali mesti lebih baik')
if nilai_14 >=50 and nilai_14 < 60 :
    print ('Anda mendapatkan nilai D')
    print ('Ulang lagi tahun depan')
if nilai_14 < 50 :
    print ('Anda mendapatkan nilai E')
    print ('Sampai jumpat tahun depan, jaa ne!')

Nilai anda adalah 78
Anda mendapatkan nilai B
Tingkatkan prestasimu!

latihan MENGUBAH SATUAN

In [50]:
tinggi_14=float(input('Berapakah tinggi anda? '))
cm_atau_inci= input ("Tinggi dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM' :
    tinggi_14 = tinggi_14*0.393701
    print ("Tinggi anda adalah " + str(tinggi_14) + " inci")

elif cm_atau_inci.upper() == "INCI" :
    tinggi_14 = tinggi_14/0.393701
    print(f'Tinggi anda adalah {tinggi_14} cm.')

Berapakah tinggi anda? 168
Tinggi dalam cm atau inci? cm
Tinggi anda adalah 66.141768 inci

In [51]:
#kalau ini iseng
berat = float(input("berapa berat bahannya? "))
kg_or_gr = input ("mau dalam satuan apa? ")

if kg_or_gr.lower() == 'kg' :
    berat = berat*1000
    tulisan = 'gram'

elif kg_or_gr.lower() == 'gr' :
    berat = berat/1000
    tulisan = 'kg'

print(f'berat nya adalah {berat} {tulisan}')

berapa berat bahannya? 400
mau dalam satuan apa? gr
berat nya adalah 0.4 kg

# 5.11 While loop

selalu berjalan selama nilai bernilai True. Kalau udah False ya udahan.

In [52]:
a=0
while a<5 :
    print("Angka " + str(a) + " masih dibawah 5")
    a+=1

Angka 0 masih dibawah 5
Angka 1 masih dibawah 5
Angka 2 masih dibawah 5
Angka 3 masih dibawah 5
Angka 4 masih dibawah 5

In [53]:
a=0
while a<5 :
    print (a*'*')
    a +=1

*
**
***
****