# 5.1 Print

In [1]:
print('Ini kelas Algoritma')

Ini kelas Algoritma

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("I don't understand what are you saying")

I don't understand what are you saying

In [4]:
print ('I don't understand what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_10008/4272285998.py, line 1)

In [5]:
print ('He is such a "GENIUS"')

He is such a "GENIUS"

In [6]:
print ("He is such a "GENIUS")

SyntaxError: invalid syntax (Temp/ipykernel_10008/2485381186.py, line 1)

latihan

In [7]:
nama_depan = 'Ikuta '
nama_belakang = 'Rira'
print(nama_depan + nama_belakang)

Ikuta Rira

In [8]:
nama_depan = 'Ikuta'
nama_tengah = ' '
nama_belakang = 'Rira'
print(nama_depan + nama_tengah + nama_belakang)

Ikuta Rira

In [9]:
mahasiswa_14 = 42
uang_di_dompet_14 = 100000
print (mahasiswa_14)
print (uang_di_dompet_14)
total_uang = print (mahasiswa_14*uang_di_dompet_14)

42
100000
4200000

# 5.2 Input

In [10]:
nama = input ("Siapakah nama anda? ")
kegiatan = input ("Apakah kegiatan anda sekarang, " + nama + "? ")
print ("Semangat " + kegiatan + " nya yah, " + nama +  " !")

Siapakah nama anda? Ikuta
Apakah kegiatan anda sekarang, Ikuta? tidur
Semangat tidur nya yah, Ikuta !

# 5.3 Tipe Data pada Python

In [11]:
uang_di_saku_celana=input ('Uang yang ada di saku celana, ada berapa? ')
uang_di_dompet=input ('Uangmu yang ada di bank, ada berapa? ')
print("Total uang kamu adalah Rp "+uang_di_saku_celana + uang_di_dompet)

#bukan kayak gini yang kita inginkan

Uang yang ada di saku celana, ada berapa? 1000
Uangmu yang ada di bank, ada berapa? 100000
Total uang kamu adalah Rp 1000100000

In [12]:
uang_di_saku_celana=input ('Uang yang ada di saku celana, ada berapa? ')
uang_di_dompet=input ('Uangmu yang ada di bank, ada berapa? ')
total_uang=int(uang_di_saku_celana)+int(uang_di_dompet)
print("Total uang kamu adalah Rp "+ str (total_uang))

Uang yang ada di saku celana, ada berapa? 100
Uangmu yang ada di bank, ada berapa? 100000
Total uang kamu adalah Rp 100100

melihat tipe data variabel

In [13]:
type(uang_di_dompet)

str

In [14]:
type(uang_di_saku_celana)

str

In [15]:
type(total_uang)

int

latihan : Penjumlahan dua bilangan

In [16]:
bilangan_pertama=input("Masukkan bilangan pertama ")
bilangan_kedua=input("Masukkan bilangan kedua ")
jumlah_bilangan=float(bilangan_pertama)+float(bilangan_kedua)
print("Jumlah kedua bilangan adalah " + str(jumlah_bilangan))

Masukkan bilangan pertama 46
Masukkan bilangan kedua 2
Jumlah kedua bilangan adalah 48.0

# 5.4 Formatted String

mempermudah penulisan niali varibel yang akan dicetak pada perintah print
1. setiap variabel harus diberi kurung kurawal

In [17]:
nama = 'Ikuta Rira'
tempat_tinggal = 'Tokyo'
pekerjaan = "song writer"
print (nama + ' yang tinggal di ' + tempat_tinggal + ' adalah seorang ' + pekerjaan)

Ikuta Rira yang tinggal di Tokyo adalah seorang song writer

In [18]:
print (f'{nama} yang tinggal di {tempat_tinggal} adalah seorang {pekerjaan}')

Ikuta Rira yang tinggal di Tokyo adalah seorang song writer

In [19]:
print (f"{nama} yang tinggal di {tempat_tinggal} adalah seorang {pekerjaan}")

Ikuta Rira yang tinggal di Tokyo adalah seorang song writer

# 5.5 Strings Index

1. mengurutkannya diawali dengan 0
2. urutan terakhir adalah urutan ke -1
3. urutan kedua terakhir adalah urutan ke -2

In [20]:
kelas='Kita Sedang ada di FX Sudirman'

In [21]:
print(kelas[0:3])

Kit

In [22]:
print(kelas[0:-1])

Kita Sedang ada di FX Sudirma

In [23]:
print(kelas[5:-1])

Sedang ada di FX Sudirma

In [24]:
print(kelas[2:-1:3])

tSa aiXur

In [25]:
print(kelas[:-3])

Kita Sedang ada di FX Sudir

In [26]:
print(kelas[1:])

ita Sedang ada di FX Sudirman

In [27]:
print(kelas[:])

Kita Sedang ada di FX Sudirman

# 5.6 Strings Methods

In [28]:
judul='Bali Surga Dunia'

In [29]:
print(len(judul))

16

In [30]:
judul.upper()

'BALI SURGA DUNIA'

In [31]:
judul.lower()

'bali surga dunia'

In [32]:
judul.find('Dunia')

11

In [33]:
judul.find('surga')

-1

In [34]:
judul.replace('Bali','Indonesia')

'Indonesia Surga Dunia'

In [35]:
judul.replace('bali','Indonesia')

'Bali Surga Dunia'

In [36]:
print('Bali' in judul)

True

In [37]:
print('bali' in judul)

False

# 5.7 Operasi Matematika di Python

In [38]:
print(7+3)
print (7-3)
print (7*3)
print (7/3)
print (7//3)
print (7%3)
print (7**3)

10
4
21
2.3333333333333335
2
1
343

In [39]:
x=4
x+=3
print (x)

x-=5
print(x)

x*=-3
print(x)

7
2
-6

# 5.8 Operator Perbandingan di Python

In [40]:
x = 7>3
print (x)

x = 3<7
print (x)

x = 7>=3
print (x)

x=3<=7
print (x)

x=7==7
print (x)
    
x=7!=3
print(x)

True
True
True
True
True
True

In [41]:
x = 3>7
print (x)

x = 7<3
print (x)

x = 3>=7
print (x)

x=7<=3
print (x)

x=7==3
print (x)
    
x=7!=7
print(x)

False
False
False
False
False
False

# 5.9 Operasi Logika  di Python

1. and : kedua nilainya harus True
2. or : salah satu nilainya saja yang harus True
3. not : kebalikan (jika x adalah True maka not x adalah False)

In [42]:
kucing=13
sapi=17

In [43]:
print (kucing>9 and sapi<20)

True

In [44]:
print (kucing<9 or sapi<20)

True

In [45]:
print (kucing<9 and sapi>20)

False

In [46]:
print (not(kucing<9 and sapi>20))

True

# 5.10 Operator if di Python

akan dijalankan jika nilai variabelnya adalah True

In [47]:
nilai_14=float(input('Nilai anda adalah '))
if nilai_14 >=80:
    print ('Anda mendapatkan nilai A')
    print ('Bagus sekali, selamat!')
if nilai_14<80 and nilai_14 >=70 :
    print ('Anda mendapatkan nilai B')
    print ('Tingkatkan prestasimu!')
if nilai_14 <70 and nilai_14 >=60:
    print ('Anda mendapatkan nilai C')
    print ('Lain kali harus lebih baik lagi')
if nilai_14 <60 and nilai_14 >=50 :
    print ('Anda mendapatkan nilai D')
    print ('Ulang lagi tahun depan, ya')
if nilai_14<50:
    print ('Anda mendapatkan nilai E')
    print ('See you next year!')

Nilai anda adalah 48
Anda mendapatkan nilai E
See you next year!

In [48]:
nilai_14=float(input('Nilai anda adalah '))
if nilai_14 >=80:
    print ('Anda mendapatkan nilai A')
    print ('Bagus sekali, selamat!')
elif nilai_14 >=70 :
    print ('Anda mendapatkan nilai B')
    print ('Tingkatkan prestasimu!')
elif nilai_14 >=60 :
    print ('Anda mendapatkan nilai C')
    print ('Lain kali harus lebih baik lagi')
elif nilai_14 >=50 :
    print ('Anda mendapatkan nilai D')
    print ('Ulang lagi tahun depan, ya')
else :
    print ('Anda mendapatkan nilai E')
    print ('See you next year!')

Nilai anda adalah 78
Anda mendapatkan nilai B
Tingkatkan prestasimu!

Latihan 
Mengubah satuan cm ke inci maupun sebaliknya

In [49]:
tinggi = float(input("Berapa tinggi anda? "))
cm_or_inci = input ("mau dalam satuan apa? ")

if cm_or_inci.upper() == 'CM' :
    tinggi = tinggi*0.393701
    print('Tinggi anda adalah ' + str(tinggi) +' inci')

elif cm_or_inci.upper() == 'INCI' :
    tinggi = tinggi/0.393701
    print('Tinggi anda adalah ' + str(tinggi) +' cm')

Berapa tinggi anda? 168
mau dalam satuan apa? cm
Tinggi anda adalah 66.141768 inci

In [50]:
berat = float(input("berapa berat bahannya? "))
kg_or_gr = input ("mau dalam satuan apa? ")

if kg_or_gr.lower() == 'kg' :
    berat = berat*1000
    tulisan = 'gram'

elif kg_or_gr.lower() == 'gr' :
    berat = berat/1000
    tulisan = 'kg'

print(f'berat nya adalah {berat}{tulisan}')

#iseng

berapa berat bahannya? 400
mau dalam satuan apa? gr
berat nya adalah 0.4kg

# 5.11 While Loop

akan terus berjalan jika nilainya masih True dan akan stop saat nilainya False

In [51]:
a=0
while a<7 :
    print ("Angka " + str (a) + " masih dibawah 7")
    a += 1

Angka 0 masih dibawah 7
Angka 1 masih dibawah 7
Angka 2 masih dibawah 7
Angka 3 masih dibawah 7
Angka 4 masih dibawah 7
Angka 5 masih dibawah 7
Angka 6 masih dibawah 7

In [52]:
a=0
while a<5 :
    print (a * '*')
    a+=1

*
**
***
****